<div class="container mt-5">
	<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Eğitim Partneri</h1>
          <p class="lead text-muted mb-0">Yeni nesil Oyunlaştırma formatı ile eğitim uygulaması</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="assets/img/feature/feature-3.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Eğitim Takibi</h2>
          <p class="font-italic text-muted mb-4">Öğrencilerin derslere üye olarak Dersleri takip edebileceğim Eğitim Platformu</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm" routerLink="../dersler">Derslere Katıl</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="assets/img/feature/feature-4.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="assets/img/feature/feature-5.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Öğrenciye Özel İstatislik Bilgileri ile Doğru Çalışma Yöntemi</h2>
          <p class="font-italic text-muted mb-4">Öğrencilerin çözdüğü testler ile hangi konularda eksikleri olduğunu belirleyip o konulara öncelik veriyoruz</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm"  routerLink="../dersler">Derslere Katıl</a>
        </div>
      </div>
    </div>
  </div>
 
  
</div>
