<h1>dersler</h1>
<!-- <div class="row pt-5 m-auto">

        <div class="col-md-6 col-lg-4 pb-3">

            <div class="card card-custom bg-white border-white border-0">
                <ng-container *ngIf="ders.resim">
                    <div class="card-custom-img"
                        [style]="resimServis.getUrlImage('data:' + ders.resimContentType + ';base64,' + ders.resim)"></div>

                </ng-container>

                <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">{{ders.isim}}</h4>
                    <p class="card-text">{{resimServis.aciklamaYaziSabitle(ders.aciklama)}} </p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a class="btn btn-primary" [routerLink]="['/ders-detay',ders.id]">içerik</a>
                </div>
            </div>

        </div>
</div> -->