<ng-container *ngIf="isLoading">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-container>
<ng-container *ngIf="!isLoading">
    <div class="container">
        <div class="row">

        <h1 class="text-center">{{kayit.aitOldDers.isim}}</h1>

            <ng-container *ngFor="let analiz of this.sortedCollection; index as analizIndex;">
                <div class="col-md-5 border border-info bg-info m-5 p-3">

                    <h1>{{analiz.aitOldBolum.bolumBaslik}}

                        <ng-container *ngIf="analiz.tamamlandi">
                            <i class="fa-solid fa-unlock"></i>
                        </ng-container>

                        <ng-container *ngIf="!analiz.tamamlandi">
                            <i class="fa-solid fa-lock"></i>
                        </ng-container>
                        
                    
                    </h1>
                    <h3 class="progress-title">Doğru sayisi - {{analiz.toplamDogru}} </h3>
                    <div class="progress">
                        <div class="progress-bar  bg-success progress-bar-striped active"
                            [style]="getProgressBarStyle(analiz.cozulenSoru,analiz.toplamDogru)"></div>
                    </div>
                    <h3 class="progress-title">Yanliş sayisi - {{analiz.toplamYanlis}} </h3>
                    <div class="progress">
                        <div class="progress-bar  bg-danger progress-bar-info progress-bar-striped active"
                            [style]="getProgressBarStyle(analiz.cozulenSoru,analiz.toplamYanlis)"></div>
                    </div>
                    <h3 class="progress-title">Boş sayisi - {{analiz.cozulenSoru}} </h3>
                    <div class="progress">
                        <div class="progress-bar  bg-warning progress-bar-info progress-bar-striped active"
                            [style]="getProgressBarStyle(analiz.cozulenSoru,analiz.cozulenSoru - analiz.toplamYanlis - analiz.toplamDogru)"></div>
                    </div>
                </div>

            </ng-container>


        </div>
    </div>







</ng-container>