<!-- <pre>{{object | json}}</pre> -->
<!-- <ng-container *ngFor="let item of object">
    <p>{{item.soruText}}</p>
</ng-container> -->

<div class="container ">
    <div id="intro">
        <div class="counter">
            <p class="prefix">Question:</p>
            <h1 id="counter">{{count+1}}/{{object.length}}</h1>
        </div>
        <div class="score">
            <p class="prefix">Score:</p>
            <h1 id="score">3</h1>
        </div>
    </div>


    <ng-container *ngFor="let item of object ;index as i">
        <ng-container *ngIf="i == count">
            <div class="question-holder row">
                <div class="col-12">
                    <h1 id="question">{{item.soruText}}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="answer-container card" (click)="cevap(item.cevaplar[0].id, item.soruId)">
                        <p class="answer-prefix">A</p>
                        <p class="answer-text" data-answer="a">{{item.cevaplar[0].cevapText}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="answer-container card" (click)="cevap(item.cevaplar[1].id, item.soruId)">
                        <p class="answer-prefix">B</p>
                        <p class="answer-text" data-answer="b">{{item.cevaplar[1].cevapText}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="answer-container card" (click)="cevap(item.cevaplar[2].id, item.soruId)">
                        <p class="answer-prefix">C</p>
                        <p class="answer-text" data-answer="c">{{item.cevaplar[2].cevapText}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="answer-container card" (click)="cevap(item.cevaplar[3].id, item.soruId)">
                        <p class="answer-prefix">D</p>
                        <p class="answer-text" data-answer="d">{{item.cevaplar[3].cevapText}}</p>
                    </div>
                </div>
            </div>
        </ng-container>


    </ng-container>
    <div class="row">
       
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-lg">
              <li class="page-item ">
                <a class="page-link" (click)="prev()" [tabindex]="count">Geri</a>
              </li>
    
              <li class="page-item">
                <a class="page-link" (click)="next()">İleri</a>
              </li>
            </ul>
          </nav>
    </div>

</div>