<!-- <div class="container">
    <div class="d-flex justify-content-center">

        <ng-container *ngIf="success">
            <div class="card">
                <div class="card-header fs-1" style="color: chartreuse;">
                  Hesap durumu
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Hesabın aktif oldu</p>
                  </blockquote>
                </div>
              </div>
        
        </ng-container>
        
        <ng-container *ngIf="error">
               <div class="card ">
                <div class="card-header fs-1" style="color: red;">
                    Hesap durumu
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Bir hata oluştu Hesabınız aktif olmadı</p>
                  </blockquote>
                </div>
        </div>
         
        
        
        </ng-container>
    </div>
</div> -->
<ng-container *ngIf="success">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="card">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="checkmark">✓</i>
            </div>
            <h1 class="succes">Success</h1>
            <p>Hesabın aktif oldu;<br /> </p>
        </div>
        </body>

    </ng-container>
    
    <ng-container *ngIf="error">
    
        <head>
            <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
        </head>
    
        <body>
            <div class="card">
                <div style="border-radius:200px; height:200px; width:200px; background: #f8d2b8; margin:0 auto;">
                    <i class="checkmark">❌</i>
                </div>
                <h1 class="error">error</h1>
                <p> Bir hata oluştu <br />Hesabınız aktif olmadı </p>
            </div>
        </body>
    
    </ng-container> 