
		<!-- ========================= contact style-1 start ========================= -->
		<section id="contact" class="contact-section contact-style-1 mb-80">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
      
                  <div class="row">
                    <div class="col-xxl-7 col-xl-8 col-lg-10">
                      <div class="section-title mb-40">
                        <h3 class="mb-15">İletişim</h3>
                        <p>Bizimle iletişime geçin</p>
                      </div>
                    </div>
                  </div>
      
                  <div class="contact-form-wrapper">
                    <form action="assets/php/contact.php" method="POST">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="single-input">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="form-input" placeholder="Name">
                            <i class="lni lni-user"></i>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="single-input">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-input" placeholder="Email">
                            <i class="lni lni-envelope"></i>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="single-input">
                            <label for="number">Number</label>
                            <input type="text" id="number" name="number" class="form-input" placeholder="Number">
                            <i class="lni lni-phone"></i>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="single-input">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-input" placeholder="Subject">
                            <i class="lni lni-text-format"></i>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="single-input">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" class="form-input" placeholder="Message" rows="6"></textarea>
                            <i class="lni lni-comments-alt"></i>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-button">
                            <button type="submit" class="button radius-10">Submit <i class="lni lni-telegram-original"></i> </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
      
                </div>
              </div>
            </div>
      
            <div class="contact-image">
              <img src="assets/img/contact/contact-1/illustation.svg" alt="">
            </div>
          </section>
          <!-- ========================= contact style-1 end ========================= -->
      