
  <!-- ========================= login-style-1 start ========================= -->
  <section class="login-section login-style-1 img-bg mb-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6">
          <div class="login-content-wrapper">
            <div class="section-title mb-40">
              <h3 class="mb-20">Şifrenizi mi unuttunuz?</h3>
              <p>Eğitim partneri uygulaması hesabınızın şifresini güncelleyin <br class="d-none d-md-block"> bu sayfadan hesabınızın şifresini güncelyin</p>
            </div>
            <form (ngSubmit)="requestReset()" [formGroup]="resetRequestForm" class="login-form">
              <div class="single-input">
                <label for="login-email">Email</label>
                <input formControlName="email" type="email" id="login-email" name="login-email" placeholder="E-mailinizi girin">
                <i class="lni lni-envelope"></i>
              </div>
             
              <div class="signup-button mb-25">
                <button  type="submit" class="button button-lg radius-10 btn-block">Gönder</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6 align-self-end">
          <div class="image text-lg-right d-none d-lg-block">
            <img src="assets/img/signup/login-1/login-img.svg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= login-style-1 end ========================= -->
  