
  

<div class="container my-5">
	<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h2 class="fw-bold display-4">Bizimle beraber TYT/AYT sınavına bomba gibi hazırlanın<p></p>
						<p></p>
					</h2>
				</div>
			</div>

			<div class="lc-block mb-3">
				<div editable="rich">
					<p class="lead">yeni hazırladığımız eğitim metoduyla öğrencilerin eylenerek öğrenmesini, düzenli çalışmasını ve ders takibi ile TYT/AYT sınavlarına hazırlıyoruz
					</p>
				</div>
			</div>

			<div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a class="btn btn-primary px-4 me-md-2" href="#" role="button">Eğitime Başla</a>
				<a class="btn btn-outline-secondary px-4" href="#" role="button">Derslerimiz</a>
			</div>
		</div>
		<div class="col-lg-4  p-0 overflow-hidden ">
			<div class="lc-block"><img class="rounded-start" src="assets/img/feature/home-jumbo.png" alt="Photo by Diego PH"   width="400"></div>
		</div>
	</div>
</div>