<div class="health-container">
    
    <div class="l-split__item"> 
      <div class="healthbar">
        <div class="healthbar__meter healthbar__meter--player-one"></div>
      </div>
    </div>

    <div class="l-split__item l-split__item--small">
      <div class="ko">KO</div>
    </div>

    <div class="l-split__item">
      <div class="healthbar">
        <div class="healthbar__meter healthbar__meter--player-two"></div>
      </div>
    </div>

    <div class="l-centered">
      <div class="timer">{{sayac}}</div>
    </div>

  </div>
  