<!-- ========================= login-style-2 start ========================= -->
<section class="login-section login-style-2 mb-80">
   <div class="container mb-5">
      <div class="login-wrapper img-bg">
         <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5 offset-xl-1">
               <div class="login-content-wrapper">
                  <div class="section-title mb-40">
                     <h3 class="">Giriş Yap</h3>
                     <p>Eğitim partneri uygulamasına hoş geldiniz <br class="d-none d-md-block"> burdan siteye üye
                        olabilrsiniz</p>
                  </div>
                  <form class="login-form" [formGroup]="signinForm" (ngSubmit)="loginUser()">

                     <div class="single-input">
                        <label for="login-email">Kullanıcı adı</label>
                        <input type="text" id="login-email" formControlName="username" placeholder="username"
                           placeholder="Kullanıcı Adınızı Girin"
                           [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <i class="lni lni-envelope"></i>
                     </div>

                     <div class="single-input">
                        <label for="login-password">Şifre</label>
                        <input type="password" id="login-password" formControlName="password" name="login-password"
                           placeholder="Şifrenizi Girin" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <i class="lni lni-lock"></i>
                     </div>
                     <div class="form-footer">
                        <div class="form-check mb-25">
                           <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                           <label class="form-check-label" for="flexCheckDefault">
                              Hatırla beni
                           </label>
                        </div>
                        <p class="mb-25"><a routerLink="/sifre-unuttum">Şifremi Unuttum?</a></p>
                     </div>
                     <div class="signup-button mb-25">
                        <button type="submit" class="button button-lg radius-10 btn-block">Giriş yap</button>
                     </div>
                     <p class="mb-25">Hesabınız yok mu? <a routerLink="/sign-up">Üye olun</a> </p>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ========================= login-style-2 end ========================= -->