<div class="container-xl px-4 mt-4">
    <div class="row">

        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <form name="editForm" role="form" novalidate [formGroup]="editForm" (ngSubmit)="save()">
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <!-- <ng-container *ngIf="this.ogrenci.studentUser.imageUrl != null"> -->
                        <img class="img-account-profile rounded-circle mb-2" [src]="getOgrImage()" alt="">

                        <!-- </ng-container> -->

                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <div class="form-group">
                            <div>
                                <div *ngIf="editForm.get('img')!.value" class="form-text text-danger clearfix">
                                    <span class="pull-left">{{ editForm.get('imgContentType')!.value }}, {{
                                        byteSize(editForm.get('img')!.value) }}</span>
                                    <button type="button" (click)="clearInputImage('img', 'imgContentType', 'file_img')"
                                        class="btn btn-secondary btn-xs pull-right">
                                        <fa-icon icon="times"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_img" data-cy="img"
                                    (change)="setFileData($event, 'img', true)" accept="image/*" />
                            </div>
                            <input type="hidden" class="form-control " name="img" id="field_img" data-cy="img"
                                formControlName="img" />
                            <input type="hidden" class="form-control " name="imgContentType" id="field_imgContentType"
                                formControlName="imgContentType" />
                            <button type="submit" class="btn btn-primary">save</button>
                        </div>

                    </div>


                </form>

            </div>


        </div>

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Hesap Detayları</div>
                <div class="card-body">
                    <form [formGroup]="settingsForm" (ngSubmit)="saveAccount()">
                        <!-- Form Group (username)-->
                        <fieldset disabled>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Username (how your name will appear to
                                    other users on the site)</label>
                                <input class="form-control" id="inputUsername" type="text" formControlName="login">
                            </div>
                        </fieldset>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text" formControlName="firstName">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text" formControlName="lastName">
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email" formControlName="email">
                        </div>

                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Acıklama Bio</label>
                            <input class="form-control" id="inputBio" type="text" formControlName="bio">
                        </div>

                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>

            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form [formGroup]="chanceForm" (ngSubmit)="chancePassSave()">
                        <!-- Form Group (current password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="currentPassword">Current Password</label>
                            <input class="form-control" id="currentPassword" type="password"
                                formControlName="currentPassword" placeholder="Enter current password">
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="newPassword">New Password</label>
                            <input class="form-control" id="newPassword" type="password" formControlName="newPassword"
                                placeholder="Enter new password">
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                            <input class="form-control" id="confirmPassword" type="password"
                                formControlName="newPasswordConfirm" placeholder="Confirm new password">
                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>