<div class="container">
	<div class="row">
		<div class="col-md-4 align-self-center border-bottom ">
			<div class="lc-block">
				<div editable="rich">
					<h2>Sınav Başlıyor</h2>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-md-5 align-self-center">
			<div class="lc-block">
				<div editable="rich">
<p>
	TYT, 18 Haziran 2022 Cumartesi günü yapılacaktır. Sınav, 10.15’te başlayacak ve 165 dakika sürecektir.

AYT, 19 Haziran 2022 Pazar günü yapılacaktır. Sınav, 10.15’te başlayacak ve 180 dakika sürecektir.
</p>				</div>

			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-md-3 align-self-center">
			<div class="lc-block text-center ">
				<span editable="inline" class="d-block h2 display-2"> 18 </span>
				<span editable="inline" class="d-block mb-3 text-secondary" style="letter-spacing:5px"> HAZİRAN 2023 </span>

			</div>
			<div class="lc-block text-center mb-5"><a class="btn btn-sm btn-outline-secondary" href="https://www.google.com/calendar/render?action=TEMPLATE&text=S%C4%B1nav+ba%C5%9Fl%C4%B1yor&dates=20220618T051000Z%2F20220619T051000Z" role="button">Takvimine Ekle</a>

				<!-- Customize the link for your event: https://decomaan.github.io/google-calendar-link-generator/ -->
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div>

